@page "/Products"
@inject SHoper.Interfaces.InterfaceIMPL _interface
@using SHoper.Model
@using Microsoft.EntityFrameworkCore;
@attribute [Authorize()]


<h1>Products</h1>
<style>
    .item-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr); /* 6 columns with equal width */
        gap: 10px; /* Gap between items */
    }

    .item-container {
        border: 1px solid #ccc;
        padding: 10px;
    }
</style>
@if (items != null)
{
    <div class="item-grid">
        @foreach (var item in items)
        {
            <div class="item-container">
                <p>Name :@item.ItemName</p>
                <p>Price :@item.ItemPrice</p>
                <p>Image :@item.ImagePath</p>
            </div>
        }
    </div>
}
else
{
    <p>Loading...</p>
}


@code {
    private List<Items> items;

    protected override async Task OnInitializedAsync()
    {
        items = await ItemsToShow();
    }



    public async   Task<List<Items>> ItemsToShow()
    {
        return await _interface.Items();
    }
}
