@page "/NextPage/{UserId}"
@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager

<h1>Change Roles</h1>



<SHoper.Component.AdminComponents.ChangeUserRole UserId="@userid"></SHoper.Component.AdminComponents.ChangeUserRole>
@code {
    [Parameter]
    public string userid { get; set; }

    protected override Task OnParametersSetAsync()
    {
        // No need to retrieve the email from query parameters; it's directly available as a route parameter
        return base.OnParametersSetAsync();
    }
}
