<h3>RandomNumberGenerator</h3>

<input type="text" @bind="userNumbers" placeholder="your bet please"/> 
<button @onclick="GenerateRandomNumber">Start</button>

@if (generatingNmber)
{
    <img src="casino.jpg" als="Loading">
}
@code {

    [Parameter]
    public EventCallback<int> OnRandomGenerated{ get; set; }

    [Parameter]
    public EventCallback<bool> GenerationNumberChanged { get; set; }

    private bool generatingNmber = false;
    public string userNumbers = "";
    public string winningNumberMessage = ""; 

    private async Task GenerateRandomNumber()
    {
        generatingNmber = true;
        await GenerationNumberChanged.InvokeAsync(true);

        await Task.Delay(5000);
        string[] numbersArray = userNumbers.Split(',');
        List<int> numbers = new List<int>();
        foreach (string numberString in numbersArray)
        {
            if(int.TryParse(numberString.Trim(),out int number))
            {
                numbers.Add(number);
            }
        }

        Random random = new Random();
        int randomGenerateIndexNumber = random.Next(0, 37);
        if (numbers.Contains(randomGenerateIndexNumber))
        {
            winningNumberMessage = $"COngrats ! {randomGenerateIndexNumber} is the wining numnebr ";

        }
        else
        {
            winningNumberMessage = "";
        }

        await OnRandomGenerated.InvokeAsync(randomGenerateIndexNumber);
        generatingNmber = false;
        await GenerationNumberChanged.InvokeAsync(false);

    }

}
