<!-- RandomNumberContainer.razor -->
<h3>Random Number Container</h3>

<div style="display: flex;">
    <div style="flex: 1;">
        <RandomNumberGenerator OnRandomNumberGenerated="HandleRandomNumberGenerated" GeneratingNumberChanged="HandleGeneratingNumberChanged" />
    </div>
    <div style="flex: 1;">

        <p>The generated random number is: @randomNumber</p>
    </div>
</div>

<button @onclick="GenerateRandomNumber" disabled="@generatingNumber">Generate Random Number</button>

@code {
    private int randomNumber;
    private bool generatingNumber = false; // Flag to track generation process

    private async Task HandleRandomNumberGenerated(int number)
    {
        // Update state with the generated number
        randomNumber = number;
        generatingNumber = false; // Reset the flag to enable the button
    }

    private void HandleGeneratingNumberChanged(bool isGenerating)
    {
        // Update the flag to track generation process
        generatingNumber = isGenerating;
    }

    private async Task GenerateRandomNumber()
    {
        // Set the flag to disable the button
        generatingNumber = true;
    }
}
